:root {
  --background-color: #cee7e6;
  --secondary-color: #036d19;
  --font-color: #0b0014;
  --highlight-color: #fcaa67;
  --button-color: #3185fc;
}

.app {
  .link {
    background-color: transparent;
    font-weight: 700;
    text-decoration: underline;
    border: none;
    &:hover {
      color: yellow;
      cursor: pointer;
    }
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

.body {
  width: 85vw;
  margin: auto;
  min-height: 100vh;
}
