:root {
  --background-color: #0b0014;
  --secondary-color: #cee7e6;
  --highlight-color: #fcaa67;
  --button-color: #3185fc;
  --font-color: #f0f0f0;
}

.app {
  .link {
    background-color: transparent;
    font-weight: 700;
    border: none;
    color: white;
    &:hover {
      color: var(--highlight-color);
      cursor: pointer;
    }
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

.body {
  max-width: var(--max-width);
  width: 95vw;
  margin: 0 auto;
  padding: 24px;
  min-height: 100vh;
}

/* utility container */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 900px) {
  .body {
    width: 90vw;
  }
}
