:root {
  --background-color: #CEE7E6;
  --secondary-color: #036D19;
  --font-color: #0B0014;
  --highlight-color: #FCAA67;
  --button-color: #3185FC;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

.body {
  width: 85%;
}